<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <module name="springboot_world" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.example.Main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>